:root {
  --main-text-color: #757575;
  --accent-color-blue: #2196f3;
  --text-white-color: #ffffff;
  --color-head-link-title: #212121;
  --border-header: #ececec;
  --hero-background-color: #2f303a;
  /*#C4C4C4*/
  --hero-btn-hover: #188ce8;
  --work-examples-border: #eeeeee;
  --background-grey-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --icon-header-color: #757575;
  --icon-social-color: #afb1b8;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --footer-social-link-color: rgba(255, 255, 255, 0.1);
  --just-black: #000000;
  --text-main-font: Roboto, sans-serif;
  --text-logo-font: Raleway, sans-serif;
  --card-set-gap: 30px;
  --hover-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--text-main-font);
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-customization {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-customization {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: block;
  min-width: 200px;
  padding: 8px 30px;
  color: var(--text-white-color);
  background-color: var(--accent-color-blue);
  font-family: var(--text-main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  letter-spacing: 0.06em;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms var(--hover-cubic);
}

.button:hover,
.button:focus {
  background-color: var(--hero-btn-hover);
}

/* ============ HEADER ============ */
.header {
  height: 80px;
  border-bottom: 1px solid var(--border-header);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-head-link-title);
  font-family: var(--text-logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1925;
  letter-spacing: 0.03em;
}

.logo-decoration {
  color: var(--accent-color-blue);
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-nav-list-item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.header-nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--color-head-link-title);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms var(--hover-cubic);
}

.header-nav-link:hover,
.header-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color-blue);
}

.header-nav-link.page {
  color: var(--accent-color-blue);
}

.header-nav-link.page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color-blue);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--hover-cubic);
}

.contacts-link:hover > .icon-header,
.contacts-link:focus > .icon-header {
  fill: var(--accent-color-blue);
}

.icon-header {
  margin-right: 10px;
  fill: var(--icon-header-color);
  transition: fill 250ms var(--hover-cubic);
}

.icon-header.mail {
  width: 16px;
  height: 12px;
}

.icon-header.phone {
  width: 12px;
  height: 16px;
}

/* ============ END HEADER ============ */
/* ============ HERO ============ */
.hero {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../img/hero-optim.jpg");
}

.hero-title {
  max-width: 695px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-hero {
  margin-left: auto;
  margin-right: auto;
}

/* ============ END HERO ============ */
/* ============ ADVANTAGES ============ */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
}

.hidden-title .advantages-list {
  display: flex;
}

.advantages-list-item {
  max-width: 270px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.icon-advantages-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--background-grey-color);
}

.icon-advantages {
  height: 70px;
  width: 70px;
}

.advantages-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-head-link-title);
}

.advantages-list-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ============ END ADVANTAGES ============ */
/* ============ SERVICES ============ */
.services {
  padding-bottom: 94px;
}

.normal-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-head-link-title);
}

.services-list {
  display: flex;
}

.services-list-item:not(:last-child) {
  margin-right: 30px;
}

.thumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.services-list-img {
  width: 100%;
  height: 100%;
}

.thumb-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

/* ============ END SERVICES ============ */
/* ============ TEAM ============ */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-grey-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-description {
  max-width: 270px;
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-head-link-title);
}

.team-list-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ============ END TEAM ============ */
/* =========== SOCIAL========== */
.social-list-icon {
  display: flex;
}

.social-item-icon {
  width: 44px;
  height: 44px;
}

.social-item-icon:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms var(--hover-cubic);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: var(--icon-social-color);
  transition: fill 250ms var(--hover-cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color-blue);
}

.social-link:hover .icon-social,
.social-link:focus .icon-social {
  fill: currentColor;
}

/* ============ OUR CLIENTS ============ */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 90px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-social-color);
  border-radius: 4px;
  transition: border-color 250ms var(--hover-cubic);
}

.icon-clients {
  fill: var(--icon-social-color);
  transition: fill 250ms var(--hover-cubic);
}

.clients-item-link:hover,
.clients-item-link:focus {
  border: 1px solid var(--accent-color-blue);
}

.clients-item-link:hover .icon-clients,
.clients-item-link:focus .icon-clients {
  fill: var(--accent-color-blue);
}

/* ============ END OUR CLIENTS ============ */
/* ============ FOOTER ============ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address-container {
  margin-right: 70px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--text-white-color);
  font-family: var(--text-logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.footer-contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  transition: color 250ms var(--hover-cubic);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color-blue);
}

.footer-address {
  width: 231px;
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}

.footer-icon-container {
  margin-right: 93px;
}

.footer-appeal {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.footer-social {
  background-color: var(--footer-social-link-color);
}

.footer-form-container {
  margin-left: auto;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 14px 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--text-white-color);
}

.footer-form-input::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 26px 8px 26px;
}

.footer-modal-icon {
  margin-left: 10px;
}

/* ============ END FOOTER ============ */
/* ============ PORFOLIO ============ */
.portfolio {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* ============ BUTTON-NAVIGATION ============ */
.portfolio-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav-item:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio {
  display: inline-block;
  min-width: 73px;
  padding: 4px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--color-head-link-title);
  background: var(--background-grey-color);
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--hover-cubic), color 250ms var(--hover-cubic), box-shadow 250ms var(--hover-cubic);
}

.btn-portfolio:focus,
.btn-portfolio:hover {
  color: var(--text-white-color);
  background-color: var(--accent-color-blue);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ============ END BUTTON-NAVIGATION ============ */
/* ============ WORK EXAMPLES ============ */
.work-examples-list {
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
  display: flex;
  flex-wrap: wrap;
}

.work-examples-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  border: 1px solid var(--work-examples-border);
  transition: box-shadow 250ms var(--hover-cubic);
}

.work-examples-link {
  display: block;
  width: 100%;
  height: 404px;
}

.work-examples-item:hover,
.work-examples-link:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples-link:hover .hover-text,
.work-examples-link:focus .hover-text {
  transform: translateY(0);
}

.img-description {
  width: 100%;
  padding: 20px 24px;
}

.img-examples-thumb {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.hover-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--hover-cubic);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}

.work-examples-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-head-link-title);
}

.work-examples-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
}

/* ============ END WORK EXAMPLES ============ */
/* ============ END PORTFOLIO ============ */
/* ============ MODAL ============ */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1024px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: all 250ms var(--hover-cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  fill: var(--just-black);
  transition: fill 250ms var(--hover-cubic);
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: var(--accent-color-blue);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-head-link-title);
}

.modal-form-container {
  /*display: flex;
  flex-direction: column;*/
  position: relative;
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--icon-header-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  /* bottom: 34%;
  transform: translateY(50%); */
  transition: fill 250ms var(--hover-cubic);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--hover-cubic);
}

input[type="email"]:not(:placeholder-shown):invalid {
  border-color: red;
}

input[type="email"]:not(:placeholder-shown):invalid + .modal-icon {
  fill: red;
}

.modal-input:hover,
.modal-input:focus,
.form-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color-blue);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color-blue);
}

.textarea-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--icon-header-color);
}

.form-comment {
  width: 100%;
  height: 120px;
  padding: 11px 16px 11px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--hover-cubic);
}

.form-comment::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: inherit;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.checkbox-label > a {
  color: var(--accent-color-blue);
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--color-head-link-title);
  border-radius: 2px;
  transition: border-color 250ms var(--hover-cubic), background-color 250ms var(--hover-cubic);
}

input[type="checkbox"]:checked + .checkbox-label::before {
  border-color: transparent;
  background-color: var(--accent-color-blue);
  background-image: url(../img/checked.svg);
  background-size: cover;
  background-origin: border-box;
}

input[type="checkbox"]:focus + .checkbox-label::before {
  outline: 1px solid var(--accent-color-blue);
  cursor: pointer;
}

.input[type="checkbox"]:focus + .checkbox-label,
.checkbox-label:hover,
.checkbox-label:hover::before {
  cursor: pointer;
}

.modal-btn {
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */