/* ============ OUR CLIENTS ============ */

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 90px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-social-color);
  border-radius: 4px;

  transition: border-color 250ms var(--hover-cubic);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color-blue);
  }
}

.icon-clients {
  fill: var(--icon-social-color);
  transition: fill 250ms var(--hover-cubic);

  .clients-item-link:hover &,
  .clients-item-link:focus & {
    fill: var(--accent-color-blue);
  }
}

/* ============ END OUR CLIENTS ============ */
